# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# TypeScript/JS Builds
js/dist/

# Rust Build Artifacts
rust/target/

# OS Files
.DS_Store
Thumbs.db
./js/node_modules/
demo/index.global.js